.centerBaseOption:global(.MuiButton-root) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 70%;
  height: 40%;
  word-wrap: break-word;
  white-space: normal;
}

div.baseOptionGrid {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 25px;
}

.baseOptionGridContainer {
  background-color: var(--background);
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
