div.lobbyContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
  padding: 0 20px;
  box-sizing: border-box;
}

h1.title {
  font-size: xx-large;
  color: var(--light-text);
}

button.lobbyButton {
  width: 100%;
  height: 7vh;
  min-width: 500px;
  font-size: 15px;
}

@media (max-width: 900px) {
  button.lobbyButton {
    width: 50vw;
    font-size: 20px;
  }
}
