div.hostPageContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  gap: 10px;
}

div.topBar {
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
  padding: 0 1vw;
}

h1.hostPageTitle {
  color: var(--secondary-color);
  font-size: xx-large;
  font-weight: bold;
}

button.hostButtons {
  width: 8vw;
}

button.invisible {
  width: 8vw;
  cursor: none;
  border: none;
  color: transparent !important;
  pointer-events: none;
}

div.middleBar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

div.gameControls {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: fit-content;
  margin-right: 20px;
  margin-top: 20px;
  gap: 30px;
}

h2.gameControlsTitle {
  font-size: xx-large;
  font-weight: bold;
  color: var(--accent-color);
}

button.gameControlButton {
  width: 10vw;
  height: 50px;
}

h2.selectGameTitle {
  font-size: xx-large;
  font-weight: bold;
  color: var(--accent-color);
  margin-left: 20px;
  align-self: flex-end;
}

div.gameTileContainer {
  padding: 20px;
  width: 100%;
}

button.toggleButtonContainer {
  display: flex;
  width: 100%;
  height: 400px;
  align-items: center;
  justify-content: center;
}

h3.gameTitle {
  font-size: xx-large;
  font-weight: bold;
  color: inherit;
  text-overflow: ellipsis;
}

@media (max-width: 900px) {
  div.topBar {
    padding: 0 20px;
  }
  button.invisible {
    width: 10vw;
  }

  button.hostButtons {
    width: 10vw;
  }

  h2.selectGameTitle {
    align-self: unset;
    margin: unset;
    margin-left: 10px;
    font-size: larger;
  }

  div.gameControls {
    justify-content: center;
    margin: 0;
    margin-right: 10px;
    gap: 10px;
  }

  h2.gameControlsTitle {
    font-size: larger;
  }
}

@media (max-width: 600px) {
  div.topBar {
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
  }

  button.invisible {
    display: none;
  }

  button.hostButtons {
    width: 90%;
  }

  div.gameTileContainer {
    height: 500px;
  }

  div.middleBar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
  }

  h2.selectGameTitle {
    align-self: unset;
    margin: unset;
  }

  div.gameControls {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: unset;
  }

  button.gameControlButton {
    width: 80vw;
  }
}
