div.baseOptionGrid {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 25px;
}

.baseOptionGridContainer {
  background-color: var(--background);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

button.baseOption:global(.MuiButton-root),
div.baseOption {
  font-weight: 600;
  flex-shrink: 0;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

div.baseOption {
  display: flex;
}
