div.baseOptionGrid {
  display: grid;
  width: 100%;
  height: 100%;
  gap: 25px;
}

.baseOptionGridContainer {
  background-color: var(--background);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

button.baseOption:global(.MuiButton-root),
div.baseOption {
  font-weight: 600;
  border-radius: 4px;
  text-align: center;
  align-items: center;
  justify-content: safe center;
  font-size: 2rem;
  padding: 0.25rem;
  overflow-y: scroll;
  box-sizing: border-box;
}

@media (max-width: 480px) {
  button.baseOption:global(.MuiButton-root),
  div.baseOption {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
}

div.baseOption {
  display: flex;
}

div.matchingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--background);

  div.matchingGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    column-gap: 3rem;
    width: 100%;

    div.matchingColumn {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      button:global(.MuiButton-root) {
        flex: 1;
        width: 100%;
      }
    }
  }

  div.controlContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    button:global(.MuiButton-root) {
      height: 40px;
      flex: 1;
    }
  }
}

div.rankingContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: var(--background);
  box-sizing: border-box;
  overflow: hidden;

  p.rightLabel,
  p.leftLabel {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.4;
  }

  p.rightLabel {
    color: var(--light-text);
  }

  p.leftLabel {
    color: var(--primary-color);
  }

  .reorderContainer {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    min-height: 0;
    overflow-y: scroll;

    li {
      flex: 1 1 auto; /* 2. This makes each list item grow equally */
      min-height: 50px;
      display: flex; /* 3. Necessary so the inner div can fill the li */
      width: 100%;
    }
    .reorderItem {
      display: flex;
      align-items: center;
      border-radius: 12px;
      padding: 1rem;
      touch-action: none;
      flex: 1;
      justify-content: center;
      gap: 1rem;
      min-height: 0;

      p {
        font-weight: 500;
        font-size: 1.25rem;
        line-height: 1.4;
        text-align: center;
      }
    }
  }

  button.submitButton:global(.MuiButton-root) {
    width: 100%;
    height: 45px;
  }

  div.hostRankingHeader {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
    gap: 1.5rem;
    box-sizing: border-box;

    .label {
      white-space: nowrap; /* Prevents labels from wrapping */
      font-weight: bold;
      font-size: 1.5rem;
      color: var(--light-text);
    }

    .arrowContainer {
      flex: 1; /* This makes the arrow take up all space in the middle */
      display: flex;
      align-items: center;
      position: relative;
    }

    .arrowLine {
      height: 4px;
      width: 100%;
      background: linear-gradient(
        90deg,
        var(--primary-color),
        var(--secondary-color)
      );
      border-radius: 2px;
      box-shadow: 0 0 10px var(--primary-color); /* Gives it that Starry Night glow */
    }

    .arrowHead {
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 15px solid var(--secondary-color); /* Matches the end of the gradient */
      margin-left: -2px; /* Pulls it onto the line so there's no gap */
      filter: drop-shadow(0 0 5px var(--secondary-color));
    }
  }
}

@media (max-width: 480px) {
  div.rankingContainer {
    .reorderContainer {
      gap: 0.75rem;
    }
  }
}

div.shortAnswerContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: var(--background);
  box-sizing: border-box;
  overflow: hidden;
  padding: 1rem;

  button:global(.MuiButton-root) {
    width: 100%;
  }
}

div.drawContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--background);
  box-sizing: border-box;
  padding: 1rem;

  div.toolContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;

    div.toolRow {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      width: 100%;
      box-sizing: border-box;
    }

    div.brushColorRow {
      justify-content: space-between;

      div.brushColor {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        cursor: pointer;
        outline-offset: 5px;
      }
    }

    div.brushSizeRow {
      p {
        color: var(--light-text);
        white-space: nowrap;
        font-weight: 600;
        font-size: 1rem;
      }
    }

    div.previewCircleContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;

      div.circle {
        border-radius: 50%;
      }
    }
  }

  button:global(.MuiButton-root) {
    width: 100%;
  }
}

p.hostPlaceholder {
  color: var(--light-text);
  font-weight: 500;
  font-size: 1.5rem;
}
