div.playerContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background);
}

h1.title {
  font-size: xx-large;
  color: var(--light-text);
  font-weight: bold;
}

button.playerButton {
  width: 10vw;
  height: 7vh;
  min-width: 20vw;
}

@media (max-width: 900px) {
  button.playerButton {
    width: 65vw;
  }
}
