div.playerContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  padding: 1.25rem;
  box-sizing: border-box;
  gap: 1em;

  div.playerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 1rem;
    box-sizing: border-box;

    p {
      font-weight: 500;
      color: var(--secondary-color);
      font-size: 1rem;
    }
  }

  div.playerFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    border-top: 1px solid var(--secondary-color);
    padding: 0.5rem 1rem;
    box-sizing: border-box;

    p {
      font-weight: 500;
      color: var(--light-text);
      font-size: 1rem;
    }
  }
}
