:root {
  --primary-color: #fca311;
  --secondary-color: #2ec4b6;
  --accent-color: #e5e5e5;
  --dark-text: black;
  --light-text: white;
  --error: #c1292e;
  --background: #14213d;
}

body {
  margin: 0;
  padding: 0;
}
