:root {
  --primary-color: #b490d6;
  --secondary-color: #b6e1fa;
  --accent-color: #3c4799;
  --dark-text: black;
  --light-text: #fdeac9;
  --error: #faa082;
  --background: #131f47;
}

body {
  margin: 0;
  padding: 0;
}
