div.leaderboardHostContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--background);
  width: 100vw;
  height: 100vh;
  padding: 1.25rem;
  box-sizing: border-box;
  gap: 1em;

  div.leaderboardHostHeader {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0.25rem;
    width: 100%;

    &:has(> :only-child) {
      justify-content: flex-end;
    }

    &:has(> :not(:only-child)) {
      justify-content: space-between;
      gap: 1rem;
    }
    p {
      color: var(--primary-color);
      font-weight: 500;
      line-height: 1.5;
      font-size: 1.5rem;
    }

    button.nextButton:global(.MuiButton-root) {
      border-radius: 8px;
      font-weight: 500;
      height: 45px;
    }
  }

  div.showAnswerFooterRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1;
    justify-content: flex-end;
    align-items: center;

    p.lobbyCode {
      color: var(--light-text);
      font-weight: 500;
      font-size: 1.25rem;
    }
  }

  div.mainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
    box-sizing: border-box;

    div.playerContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
      width: 70%;
      flex: 1;
      border-radius: 8px;
      align-items: center;
      justify-content: center;
      padding: 0.25rem 1rem;

      p {
        font-size: 1.25rem;
      }

      p.rank {
        font-weight: 600;
      }

      div.nicknameContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.75rem;

        p.nickname {
          font-weight: 400;
          color: var(--light-text);
        }

        div.streakContainer {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 0.5rem;

          p.streak {
            font-weight: 600;
            color: var(--error);
          }

          svg {
            height: 24px;
            width: 24px;
          }
        }
      }

      div.scoreContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 5rem;

        p {
          font-weight: 500;
        }

        p.score {
          color: var(--secondary-color);
        }
      }
    }
  }
}

@keyframes pulse-fire {
  from {
    transform: scale(1);
    filter: drop-shadow(0 0 8px #ff4d4d);
  }
  to {
    transform: scale(1.2);
    filter: drop-shadow(0 0 20px #ffd27d);
  }
}

div.playerLeaderboardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  height: 100%;

  p.rank {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--primary-color);
    text-align: center;
  }

  p.scoreEarned {
    font-weight: 500;
    font-size: 1.25rem;
    color: var(--light-text);
    text-align: center;
  }
}
