.backgroundContainer {
  background-color: var(--background);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 30px;
  flex-direction: column;
}

h1.title {
  font-size: 40px;
  color: var(--accent-color);
  font-weight: bold;
}

p.description {
  font-size: 20px;
  color: var(--light-text);
  font-weight: 500;
}
